
report.enabled = true
workflow.failOnIgnore = true

conda.enabled = true

process {
    conda = 'path/to/your/conda/envs/atpase-ep-analyzer'

    resourceLimits = [
        memory: 120.GB,
        cpus: 30,
        //time: 24.h
    ]

    withName: atpase_ct_scan {
        memory = 15.GB
        //maxForks = 15
    }
}

// Error management
process {
    withLabel: pdbfixer {
        errorStrategy = 'terminate'
    }
    
    withLabel: pdb2pqr {
        errorStrategy = 'ignore'
    }
    
    withLabel: apbs {
        errorStrategy = 'retry'
        maxRetries = 3
        //retryDelay = '5m'
    }
}


// Parameters

// Pipeline scripts
params {
    scripts_dir = "${projectDir}/0_scripts"
    pymol_c_ring_aligner = "${params.scripts_dir}/pymol_c_ring_aligner.py"
    pdb2pqr_script = "${params.scripts_dir}/pdb2pqr.py"
    apbs_ctscan_analyzer = "${params.scripts_dir}/apbs_ctscan_analysis.py"
}

// Pipeline parameters
params {
    openmm_platform = 'CUDA'
    pH = '7'
    distmin = '5.0'
    distmax = '15.0'
}
